@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.corpo {
    font-size: 12px;
    color: var(--DarkGrayishBlue);
}

:root {
    /*Cores do gradiente*/
    --Violeta: hsl(273, 75%, 66%);
    --Blue: hsl(240, 73%, 65%);

    /*Text*/
    --darkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    --SoftRed: hsl(14, 88%, 65%);
    --VeryDarkBlue: hsl(238, 29%, 16%);

    /*Divisores*/
    --LightGrayBlue: hsl(240, 5%, 91%);
}

body {
    background-image: linear-gradient(to bottom, var(--Violeta), var(--Blue));
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    min-width: 375px;
    max-width: 1400px;
    min-height: 400px;
    max-height: 2000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-radius: 18px;
    box-shadow:
        0px 4.1px 2.7px rgba(0, 0, 0, 0.024),
        0px 10.3px 6.9px rgba(0, 0, 0, 0.039),
        0px 20.9px 14.2px rgba(0, 0, 0, 0.051),
        0px 43.1px 29.2px rgba(0, 0, 0, 0.068),
        0px 118px 80px rgba(0, 0, 0, 0.11);
    transition: all 222ms;
}

#left {
    width: 50%;
    height: 100%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 700px;
    background-position-x: -310px;
    background-position-y: -60px;
    position: relative;
}

#right {
    width: 50%;
    height: 100%;
    padding: 50px;
}
#right>h1 {
    margin-bottom: 15px;
}

.imagem {
    width: 100%;
    height: 100%;
}

.especial {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#woman {
    width: 420px;
    height: 420px;
    display: block;
    margin-top: 70px;
    margin-left: -59px;
}

#box {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 262px;
    left: -73px;
}

#woman1 {
    display: none;
    width: 300px;
    height: 300px;
}

@media (max-width:1100px) {
    main {
        flex-direction: column;
    }

    #left {
        width: 100%;
        height: 30%;
        position: relative;
        background-image: none;
    }

    #right {
        width: 100%;
        height: 91%;
    }

    #box {
        display: none;
    }

    #woman {
        display: none;
    }

    .especial {
        overflow: visible;
        display: flex;
        justify-content: center;
    }

    #woman1 {
        display: block;
        margin-top: -170px;
    }
}

@media (max-width:710px) {
    main {
        width: 375px;
    }

    body {
        height: 140vh;
    }
}


/*Configurando as quests*/

.titulo {
    font-weight: 350;
    font-size: 1em;
    cursor: pointer;
}

.titulo:hover {
    color: var(--SoftRed);
}

.lista { 
    list-style: none;
}
.lista li {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid var(--LightGrayBlue);
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.seta{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    transition: all 222ms;
}
.conteudo{
    display: none;
    width: 100%;
}

.rodape{
    color: white; 
    font-size: .8em;
}
.rodape a {
    color: white;
}
.rodape a:hover{
    color: var(--SoftRed);
    text-decoration: none;
}